.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: quicksand;
}

.title {
    margin-bottom: 15px;
}

.description {
    text-transform: capitalize;
    margin-bottom: 15px;
}

.goBack {
    align-self: flex-start;
    padding-bottom: 10px;
    color: #d9455f;
    text-decoration: none;
    font-weight: 100;
}

.quantitySelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.value {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 3rem;
}

.button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #9a1f40;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    margin: auto;
}

.button:disabled {
    background-color: gray;
}

.price {
    padding: 20px;
    font-size: 1.75rem;
}

.confirm {
    height: 5vh;
    width: 50%;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #d9455f;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 15px;

    cursor: pointer;
}

.textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-bottom: 20px;
}

.textbox > textarea {
    border-radius: 10px;
    border: 1px solid grey;
    padding: 10px;
}

.variationSelectContainer {
    width: 50vw;
    padding-bottom: 20px;
}

.multipleModifierTitle {
    margin-bottom: 15px;
}

.modifierCheckContainer {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 15px;
    font-size: large;
}

.modifierCheck {
    height: 20px;
    width: 20px;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.modifierSelectContainer {
    width: 50vw;
}

.modifierSelect {
    width: 50vw;
}