.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-weight: 500;
}

.goBack {
    align-self: flex-start;
    padding-bottom: 15px;
    color: #d9455f;
    text-decoration: none;
    font-weight: 100;
}

.purchase {
    height: 8vh;
    width: 50%;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #d9455f;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 25px;

    cursor: pointer;
}